.image_slider {
    position: relative;
}

.prev,
.next {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prev {
    left: 15px;
}

.next {
    right: 30px;
}

