.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.title_property{
    font-size: 36px;
    color: #FF6060;
}
.title2_property{
    font-size: 18px;
    margin-top: -9px;
}
.btn{
    background-color: #FF6060;
    color:  #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 115px;
    height: 25px;
    cursor: pointer;
}
.collapse_container_property{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

}
.collapse_container_property .collapse{
    width: 45%;
}

.rating i{
    color: #E3E3E3;
    padding: 5px;
}
.rating .colored{
    color:#FF6060;
}

.header_property{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.host_picture{
    width: 64px;
    height: 64px;
    border-radius: 50px;
}
.host_name{
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.host{
    display: flex;
    align-items: center;
    gap:5px;
}

.buttons_rating{
    display: flex;
    justify-content: space-between;
}
.rating{
    display: flex;
    justify-content: flex-end;
    margin-top: -6px;
}





@media screen and (max-width: 768px) {
  
.container{
    position: relative;
}
.rating {
    position: absolute;
    bottom: 166px;
}
.host{
    position: absolute;
    right: 20px;
    top: 127px;
}
.header_property{
    position: relative;
}

.rating i {
    font-size: 18px;
    margin-right: 4px;
}
.host_name {
    font-size: 14px;
}
.host_picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.buttons_rating{
    display: flex;
    flex-direction: column;
  }
.collapse_container_property{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 22px;
   
}
.collapse_container_property .collapse{
    width: 100%;
}
.title_property{
    font-size: 18px;
}
.title2_property{
    font-size: 14px;
    margin-bottom: 29px;
    margin-top: 0;
}
}

