.image_slider {
    position: relative;
    width: 100%;
    height: 415px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  

.prev,
.next {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prev {
    left: 15px;
}

.next {
    right: 30px;
}
.image_counter{
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    font-weight: 500;
    color:white
}

@media screen and (max-width:768px) {

.image_slider{
    box-sizing: border-box;
    height: 255px;
    padding-top: 15px;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

.prev img,
.next img{
    width: 11px;
    height: 19px;
}
.image_counter{
    display: none;
}
}

