.error_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_number{
    font-size: 288px;
    font-weight: 700;
    color: #FF6060;
}

.error_text{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    padding-bottom: 130px;
}
.error_link{
    font-size: 18px;
    color: #000000;
    padding-bottom: 150px;
    padding-top: 40px;

}

@media screen and (max-width:768px) {

.error_number{
    font-size: 96px;
}
.error_text{
    font-size: 18px;
    padding-bottom: 30px;
    text-align: center;
}
.error_link{
    font-size: 14px;
    padding-bottom: 140px;
}
}
